.contactUs {
  display: flex;
  justify-content: center;
}

.contactUs_left {
  width: 300px;
  margin-right: 100px;
}

.contactUs_logo {
  margin-bottom: 62px;
}

.contactsUs_contact {
  margin-bottom: 40px;
}

.contactUs_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  margin-bottom: 24px;
}

.map {
  padding-bottom: 112px;
}

/* #ymaps1623505824841915773 {
  padding-left: 300px;
} */
