.footer {
  background: #316099;
  padding-top: 91px;
  padding-bottom: 64px;
}

.footer_banner {
  display: flex;
  justify-content: space-between;
}

.footer_article {
  margin-bottom: 32px;
}

.footer_title {
  width: 340px;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 32px;
}

.footer_text {
  width: 495px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
}

.footer_button {
  width: 236.63px;
  height: 56px;
  background: #5a98d0;
  border: none;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 74px;
}

.footer_contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_botom {
  padding: 64px 0px;
}

.footer_contact {
  padding-left: 20px;
  width: 316px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  box-sizing: border-box;
}

.rights {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}
